<div class="container">
  <h4 class="module-header">Manage Tickets</h4>
  <div class="table-card fade-in" *ngIf="showTable">
    <button class="edit-button new" (click)="add()">Add New Ticket</button>

    <div class="row">
      <div class="col-100 search">
        <input
          type="text"
          placeholder="Search Ticket"
          (keyup)="searchTable($event.target.value)"
        />
      </div>
    </div>
    <table
      class="styled-table fade-in"
      *ngIf="ticketService.tickets.length > 0; else noTickets"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th class="description">Description</th>
          <th>Deadline</th>
          <th>Available</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketService.tickets">
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.price | currency }}</td>
          <td class="description" *ngIf="ticket.description">
            {{ ticket.description }}
          </td>
          <td class="opacity-reduce description" *ngIf="!ticket.description">
            No Description
          </td>
          <td>{{ ticket.deadline }}</td>

          <td>{{ ticket.availableTickets }}</td>
          <td>
            <button class="edit-button table-edit" (click)="edit(ticket)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noTickets>
      <div class="container placeholder-container fade-in">
        <img class="placeholder" src="assets/images/empty-box.png" />
        <h2>Sorry, No ticket matched what you typed.</h2>
      </div>
    </ng-template>
  </div>

  <form [formGroup]="ticketForm" *ngIf="!showTable">
    <div class="card form-card fade-in">
      <h3>{{ text }}</h3>

      <div class="row">
        <div class="col-100 m-1">
          <span
            [ngClass]="{
              'error-input':
                ticketForm.controls.title.invalid &&
                (ticketForm.controls.title.dirty ||
                  ticketForm.controls.title.touched)
            }"
          >
            <input
              type="text"
              placeholder="Ticket Name"
              formControlName="title"
              id="title"
              required
            />
          </span>
        </div>
        <div class="col-100 m-1">
          <textarea
            type="text"
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="col-100 m-1 my-select-container">
          <select
            *ngIf="text === 'Add Ticket'"
            (change)="quantitySelected($event.target.value)"
            id="quantity"
            class="dropdown"
          >
            <option selected hidden>Select Quantity</option>
            <option *ngFor="let quantity of quantities" value="{{ quantity }}">
              {{ quantity }}
            </option>
          </select>

          <select
            formControlName="availableTickets"
            *ngIf="text === 'Edit Ticket'"
            id="quantity"
            class="dropdown"
          >
            <option selected hidden>Select Quantity</option>
            <option *ngFor="let quantity of quantities" value="{{ quantity }}">
              {{ quantity }}
            </option>
          </select>
        </div>
        <div class="col-100 m-1">
          <span
            [ngClass]="{
              'error-input':
                ticketForm.controls.deadline.invalid &&
                (ticketForm.controls.deadline.dirty ||
                  ticketForm.controls.deadline.touched)
            }"
          >
            <input
              type="text"
              placeholder="Deadline"
              formControlName="deadline"
              required
            />
          </span>
        </div>
        <div class="col-100 m-1">
          <span
            [ngClass]="{
              'error-input':
                ticketForm.controls.price.invalid &&
                (ticketForm.controls.price.dirty ||
                  ticketForm.controls.price.touched)
            }"
          >
            <input
              type="text"
              placeholder="Price"
              formControlName="price"
              currencyMask
              required
            />
          </span>
        </div>
      </div>

      <div class="actions mt-2">
        <button class="cancel mr-1" (click)="showTable = true">Back</button>
        <button [disabled]="!ticketForm.valid" class="save" (click)="submit()">
          {{ buttonCaption }}
        </button>
      </div>
    </div>
  </form>
</div>
