/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);
* {
  box-sizing: border-box;
  
}

*:focus {
  outline: none;
}
body {
  background: #E5E5E5;
  font-family: Salesforce Sans,
    Helvetica,
    sans-serif !important;
  font-size: 14px;
  color: #000000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
    background-color: #f7fafe;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  color: white;
  font-weight: 600;
  z-index: 300;
}

.toolbar img {
  width: 12rem;
  margin: 0 16px;
}

.container-row {
  margin-left: -17px;
}

.align-right {
  float: right;
}

.advert-book {
  width: 81px;
  height: 123px;
}

.col-30 {
  float: left;
  width: 30%;
}

.col-65 {
  float: left;
  width: 65%;
}

.bought-ticket {
  font-size: 13px;
}

.waited-ticket {
  font-size: 13px;
  color: #9e9d9d;
  font-style: italic;
}

.custom-donation {
  display: inline-flex;
    position: relative;

  input[type=number] {
    padding: 4px 4px 4px 18px;
    width: 125px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }
}

span.custom-donation:before {
  position: absolute;
  top: 0;
  content: "$";
  left: 3px;
  right: 110px;
  border-right: 1px solid #C4C4C4;
}

.ticket-item {
  input[type=text],
  select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
}

.promo-div {
  justify-content: center;

  .apply-button {
    border: 1px solid #0EB58A;
    border-radius: 4px;
    margin-left: 5px;
    width: 65px;
    text-align: center;
    color: #0eb58a;
  }
}

.actions {
  text-align: center;

  button {
    border: 1px solid transparent;
    padding: 5px 15px;
    color: #ffff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .cancel {
    background: #EB7092;
  }

  .save {
    background: #0EB58A;
  }
}



.fw-700 {
  font-weight: 700;
}

.red-select {
  select{
  border: 2px solid #EB7092 !important;
  }
  .my-select-container:after {
    border-top: 6px solid #EB7092 !important;
  }
}

    .error-input {

      input,
      textarea {
        border: 1px solid #EB7092 !important;

      }
    }

    .edit-button {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid transparent;
      background: #0EB58A;
      cursor: pointer;
      color: white;
      font-size: 13px;
      font-weight: 600;
    }


.mt-3 {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 30px
}

.ml-3 {
  margin-left: 30px
}

.mr-3 {
  margin-right: 30px;
}


.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px
}

.ml-2 {
  margin-left: 20px
}

.mr-2 {
  margin-right: 20px;
}



.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px
}

.ml-1 {
  margin-left: 10px
}

.mr-1 {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px
}

.ml-0 {
  margin-left: 0px
}

.mr-0 {
  margin-right: 0px;
}

.pb-3 {
  padding-bottom: 30px;
}







.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

  .card {
    margin: 0 8px 16px;
    padding: 16px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .title {
      font-weight: 700;
      font-size: 14px;
    }

    .price {
      font-size: 15px;
      font-weight: bold;
    }

    .long-deadline {
      color: #706E6B;
      font-size: 13px;
      line-height: 22px;
    }

    .short-deadline {
      color: #EB7092;
      font-size: 13px;
      line-height: 22px;
      font-weight: bold;
    }

    .event-item{
      padding: 0 0 20px 20px;
    }

    .border-line {
      border-bottom: 1px solid #dddbda;

    }

    .donate-text {
      font-size: 12px;
      font-weight: bold;
    }

    .donation-price {
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 4px;
      height: 32px;
      margin-right: 10px;
      padding: 3px 5px;
      cursor: pointer;
      font-size: 13px;
    }

    .donation-selected {
      background: #7d7d7d;
      color: #fff;
    }

    .flex-div {
      display: flex;
    }

    .advert {
      margin-top: 20px;
      img {
        width: 81px;
        height: 123px;
        margin-right: 20px;
      }
    }



    .notification {
      background: rgba(225, 218, 207, 0.31);
      border-radius: 4px;
      font-size: 12px;
      padding: 0 20px;
      margin-top: 10px;

      a {
        color: #0070D2;
        text-decoration: underline;
        margin-left: 5px;
        cursor: pointer;
 ;
      }
    }




  }





.card-container .card:not(:last-child) {
  margin-right: 0;
}

    .placeholder-container {
      text-align: center;

      img {
        width: 20rem;
        height: 20rem;
      }

      .buyTicket {
        height: 40px;
        background: #0EB58A;
        border-radius: 6px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
        color: #FFFFFF;
        cursor: pointer;
      }
    }

  .form-card {

    input[type=text],
    select,
    textarea {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      resize: vertical;
    }


    .question {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
    }

    .m-1 {
      margin-top: 10px;
    }

    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #c4c4c4;
    }

    // .container:hover input~.checkmark {
    //   background-color: #ccc;
    // }

    .container input:checked~.checkmark {
      background-color: transparent;
      border: 1px solid #c4c4c4;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container input:checked~.checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #0EB58A;
    }


    .my-select-container {
      position: relative;

      .dropdown {
        -webkit-appearance: none;
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        height: 36px;
        width: 100%;
        border: 1px solid #D4D4D4;
        border-radius: 0.25rem;
        background-color: rgb(255, 255, 255);
      }
    }

    .my-select-container:before {
      border-bottom: 5px solid black;
      top: calc((1.75rem / 2) - 6px);
      opacity: 0;
    }

    .my-select-container:before,
    .my-select-container:after {
      position: absolute;
      content: '';
      display: block;
      right: 0.5rem;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      pointer-events: none;
    }

    .my-select-container:after {
      border-top: 6px solid #706E6B;
      bottom: 15px;
    }


  }

  .full-width {
    width: 100%;
  }


.col-100 {
  width: 94%;
  float: left;
}

.col-45 {
  width: 45%;
  float: left;
}

.opacity-reduce {
  opacity: 0.6;
}

.fade-in {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}











/* Responsive Styles */
@media screen and (max-width: 767px) {

   .col-30,
   .col-65 {
     width: 100%;
     margin-top: 0;
   }

   .col-45, .col-100 {
     width: 90%;
     margin-top: 0;
   }
}

@media screen and (width: 768px) {

  .summary-card {
    .align-right {
      float: unset;
      display: block;
    }
  }
}

@media screen and (max-width: 300px) {

  .summary-card {
    .align-right {
      float: unset;
      display: block;
    }
  }

  .toolbar img {
    width: 8rem;
  }
}
